[submodule "Packages/nox.discord"]
	path = Packages/nox.discord
	url = https://github.com/AtelierVR/nox.discord.git
[submodule "Packages/nox.cck"]
	path = Packages/nox.cck
	url = https://github.com/AtelierVR/nox.cck.git
[submodule "Packages/nox.loader"]
	path = Packages/nox.loader
	url = https://github.com/AtelierVR/nox.loader.git
[submodule "Packages/nox.avatars"]
	path = Packages/nox.avatars
	url = https://github.com/AtelierVR/nox.avatars.git
[submodule "Packages/nox.avatars.modules"]
	path = Packages/nox.avatars.modules
	url = https://github.com/AtelierVR/nox.avatars.modules.git
[submodule "Packages/nox.control"]
	path = Packages/nox.control
	url = https://github.com/AtelierVR/nox.control.git
[submodule "Packages/nox.offline"]
	path = Packages/nox.offline
	url = https://github.com/AtelierVR/nox.offline.git
[submodule "Packages/nox.sessions"]
	path = Packages/nox.sessions
	url = https://github.com/AtelierVR/nox.sessions.git
[submodule "Packages/nox.game.builder"]
	path = Packages/nox.game.builder
	url = https://github.com/AtelierVR/nox.game.builder.git
[submodule "Packages/com.earnestrobot.autohand"]
	path = Packages/com.earnestrobot.autohand
	url = https://github.com/AtelierVR/nox.autohand.git
[submodule "Packages/rootmotion.finalik"]
	path = Packages/rootmotion.finalik
	url = https://github.com/AtelierVR/nox.finalik.git
[submodule "Packages/nox.relay"]
	path = Packages/nox.relay
	url = https://github.com/AtelierVR/nox.relay.git
[submodule "Packages/nox.network"]
	path = Packages/nox.network
	url = https://github.com/AtelierVR/nox.network.git
[submodule "Packages/nox.worlds"]
	path = Packages/nox.worlds
	url = https://github.com/AtelierVR/nox.worlds.git
[submodule "Packages/nox.assetbundles"]
	path = Packages/nox.assetbundles
	url = https://github.com/AtelierVR/nox.assetbundles.git
[submodule "Packages/nox.terminal"]
	path = Packages/nox.terminal
	url = https://github.com/AtelierVR/nox.terminal.git
[submodule "Packages/nox.settings"]
	path = Packages/nox.settings
	url = https://github.com/AtelierVR/nox.settings.git
[submodule "Packages/ffmpeg.unity"]
	path = Packages/ffmpeg.unity
	url = https://github.com/hactazia/FFmpeg.Unity.git
[submodule "Packages/nox.xr"]
	path = Packages/nox.xr
	url = https://github.com/AtelierVR/nox.xr.git
[submodule "Packages/nox.mirror"]
	path = Packages/nox.mirror
	url = https://github.com/AtelierVR/nox.mirror.git
[submodule "Packages/nox.editor.panel"]
	path = Packages/nox.editor.panel
	url = https://github.com/AtelierVR/nox.editor.panel.git
[submodule "Packages/nox.ffmpeg"]
	path = Packages/nox.ffmpeg
	url = https://github.com/AtelierVR/nox.ffmpeg.git
[submodule "Packages/com.keviniglesias.basicmotions"]
	path = Packages/com.keviniglesias.basicmotions
	url = https://github.com/AtelierVR/nox.animations.git
[submodule "Packages/nox.notifications"]
	path = Packages/nox.notifications
	url = https://github.com/AtelierVR/nox.notifications.git
