[submodule "Packages/nox.discord"]
	path = Packages/nox.discord
	url = https://github.com/AtelierVR/nox.discord.git
[submodule "Packages/nox.cck"]
	path = Packages/nox.cck
	url = https://github.com/AtelierVR/nox.cck.git
[submodule "Packages/nox.loader"]
	path = Packages/nox.loader
	url = https://github.com/AtelierVR/nox.loader.git
[submodule "Packages/nox.avatars"]
	path = Packages/nox.avatars
	url = https://github.com/AtelierVR/nox.avatars.git
[submodule "Packages/nox.avatars.modules"]
	path = Packages/nox.avatars.modules
	url = https://github.com/AtelierVR/nox.avatars.git
[submodule "Packages/nox.control"]
	path = Packages/nox.control
	url = https://github.com/AtelierVR/nox.control.git
